<script>
    import {createEventDispatcher} from 'svelte';

    import Card from './Card.svelte';
    import DeleteModal from './DeleteModal.svelte';
    import RunCommandModal from "./RunCommandModal.svelte";

    import {createEvent} from '../utils/events.js';

    import {
        OBJ_ID, OBJ_VALUE,
    } from '../utils/consts.js';

    import {
        UI_EVENT_DATACHANGE,
        UI_EVENT_DELETE,
        UI_EVENT_ACTION, UI_ACTION_DOWNLOAD
    } from '../utils/ui_consts.js';
    import {UI_EVENT_DOWNLOAD} from "../utils/ui_consts";

    export let objects = [];
    export let scripts = [];

    const dispatch = createEventDispatcher();

    let objectToDelete;
    let showDeleteModal = false;

    let targetObject = {};

    let showRunCommandModal = false;


    function openDeleteDialog(event) {
        const removeId = event.detail;
        console.log('deleting objId=' + removeId)
        const foundObject = objects.find(item => item[OBJ_ID] === removeId);

        if (foundObject) {
            objectToDelete = foundObject;
            showDeleteModal = true;
        }
    }

    function closeDeleteModal() {
        objectToDelete = {};
        showDeleteModal = false;
    }

    function deleteObject(event) {
        closeDeleteModal();

        const removeId = event.detail;
        const foundObject = objects.find(item => item[OBJ_ID] === removeId);

        if (foundObject) {
            sendDataChangeEvent(foundObject, UI_EVENT_DELETE);
        }
    }

    function openRunCommandDialog(event) {
        const object = event.detail;
        console.log('open run command for obj=' + object[OBJ_VALUE])

        if (object) {
            targetObject = object;
            showRunCommandModal = true;
        }
    }

    function closeRunCommandModal() {
        targetObject = {};
        showRunCommandModal = false;
    }

    function sendRunCommandEvent(event) {
        console.log("Running command=" + JSON.stringify(event));

        dispatch(UI_EVENT_ACTION, event);
    }

    function runCommand(event) {
        closeRunCommandModal();

        const eventData = event.detail;

        if (eventData) {
            sendRunCommandEvent(eventData);
        }
    }


    function bubbleDataChangeEvent(event) {  //todo fixme
        dispatch(UI_EVENT_DATACHANGE, event.detail);
    }

    function bubbleDownloadEvent(event) {  //todo fixme
        dispatch(UI_EVENT_DOWNLOAD, event.detail);
    }

    // function bubbleActionEvent(event) {  //todo fixme
    //     dispatch(UI_EVENT_ACTION, event.detail);
    // }

    function sendDataChangeEvent(obj, eventType) {
        let event = createEvent(eventType, obj);
        console.log('sending event: ' + JSON.stringify(event));
        dispatch(UI_EVENT_DATACHANGE, event);
    }

</script>

<div class="obj-card-container">
<!--        <ul>-->
<!--        <li>-->
    <div class="row">
        <Card
            item={{}}
            on:action={openRunCommandDialog}
            on:datachange={bubbleDataChangeEvent}
        />
    </div>
<!--        </li>-->
    {#if objects.length > 0}
        {#each objects as obj (obj[OBJ_ID])}
<!--                <li>-->
            <div class="row">
                <Card
                        item={obj}
                        on:action={openRunCommandDialog}
                        on:datachange={bubbleDataChangeEvent}
                        on:download={bubbleDownloadEvent}
                        on:delete={openDeleteDialog}
                />
<!--                </li>-->
            </div>
        {/each}
    <!--{:else}-->
    <!--    <div>-->
    <!--        <h3>No matching objects found</h3>-->
    <!--    </div>-->
    {/if}
<!--        </ul>-->
</div>

{#if showDeleteModal}
    <DeleteModal
            item={objectToDelete}
            on:delete={deleteObject}
            on:close={closeDeleteModal}
    />
{/if}

{#if showRunCommandModal}
    <RunCommandModal
            item={targetObject}
            scripts={scripts}
            on:action={runCommand}
            on:close={closeRunCommandModal}
    />
{/if}

<style lang="scss">
  //main {
  //  padding: 2em;
  //  margin: 0 auto;
  //  width: 100vw;
  //  box-sizing: border-box;
  //}

  .row {
    display: flex;
    flex-direction: column;
    //display:grid;
    //grid-columns: 4;
  }

  .obj-card {
    &-container {
      padding: 2em;
      margin: 0 auto;
      //width: 100vw;
      box-sizing: border-box;
      //float: left;
      flex-basis: 90%;
      flex-grow: 1;
      //justify-content: space-between;
      //position: relative;
      //display: flex;
    }

    &-add {
      background-color: #d6d4d4;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: none;
      border: 4px dashed #a29f9f;
      //width: 144px;
      width: 90%;
      //height: 189px;
      height: 30px;
      color: #a29f9f;
      margin-right: 15px;
      padding: 15px;
      border-radius: 10px;

      &:hover {
        background-color: #c5c5c5;
      }
    }

  }
</style>