<script>
    import {createEventDispatcher} from 'svelte';

    import Fa from 'svelte-fa/src/fa.svelte'
    import {faPlus} from '@fortawesome/free-solid-svg-icons';

    import {
        OBJ_ID,
        OBJ_TAGS,
        OBJ_STATUS,
        OBJ_CREATED,
        OBJ_TYPE_IP_ADDRESS,
        OBJ_TYPE_IP_SUBNET,
        OBJ_TYPE_IP_LIST,
        OBJ_TYPE,
        OBJ_VALUE,
        PROFILE_SHORT, OBJ_TYPE_FILE
    } from "../utils/consts.js";

    import {
        ACTIONS_ICONS,
        STATUS_ICONS,
        UI_ACTION_DELETE, UI_ACTION_DOWNLOAD,
        UI_ACTION_EDIT,
        UI_ACTION_RUN,
        UI_CARDS_CONFIG,
        UI_COLOR,
        UI_EVENT_ACTION,
        UI_EVENT_DATACHANGE, UI_EVENT_DOWNLOAD,
        UI_ICON
    } from "../utils/ui_consts.js";

    import {formatDate} from "../utils/utils.js";
    import {createNewObjectsEvent} from "../utils/events";


    const dispatch = createEventDispatcher();

    export let item = {};

    let cardExpanded = false;
    let editMode = false;

    let textarea;

    function onInput() {
        if (textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = `${textarea.scrollHeight}px`;
        }
    }


    // function trimContent(content) {
    //     const TRIM_LENGTH = 200;
    //     if (content && content.length > TRIM_LENGTH) {
    //         return `${content.substring(0, TRIM_LENGTH)}...`;
    //     }
    //
    //     return content;
    // }

    function saveEdit(newObj) {
        console.log('save edit');
        editMode = false;
        cardExpanded = false;
        if (!item[OBJ_ID]) {
            const event = createNewObjectsEvent(newObj);
            dispatch(UI_EVENT_DATACHANGE, event); //todo fixme
        } else {
            console.log('obj update old');
        }

    }

    function cancelEdit() {
        console.log('cancel edit');
        editMode = false;
        if (!item[OBJ_ID]) {
            item = {};
            cardExpanded = false;
        }

    }

    function beginEdit() {
        editMode = true;
    }

    // function completeItem(obj) {
    //     console.log('complete item');
    //     const newObjState = {
    //         ...obj, // id?
    //         [OBJ_STATUS]: STATUS_COMPLETED
    //     };
    //     const event = createEvent(UI_EVENT_UPDATE, newObjState);
    //     dispatch(UI_EVENT_DATACHANGE, event);
    // }

    function deleteItem(obj) {
        console.log('delete item');

        dispatch('delete', obj[OBJ_ID]);
    }

    function expandCard() {
        cardExpanded = !cardExpanded;
    }

    const OBJECT_TYPES_FOR_CREATE = [
        OBJ_TYPE_IP_ADDRESS,
        OBJ_TYPE_IP_SUBNET,
        OBJ_TYPE_IP_LIST
    ]

    const ACTIONS_ALL = {
        [UI_ACTION_DOWNLOAD]: downloadFile,
        [UI_ACTION_RUN]: runAction,
        [UI_ACTION_EDIT]: beginEdit,
        [UI_ACTION_DELETE]: deleteItem,
    }

    function downloadFile(obj) {
        console.log("download file: " + JSON.stringify(obj));
        dispatch(UI_EVENT_DOWNLOAD, obj);
    }

    function addNewItem() {
        editMode = true;
        cardExpanded = true;
        item = {
            [OBJ_TYPE]: '',
            [OBJ_VALUE]: '',
            // [OBJ_STATUS]: STATUS_NEW,
        }
    }

    function runAction(obj) {
        console.log("Running action for obj=" + JSON.stringify(obj));

        // const event = createEvent(ACTION_RUN_COMMAND, obj);
        dispatch(UI_EVENT_ACTION, obj);
    }

    const SPECIAL_OBJ_FIELDS = [
        OBJ_ID,
        OBJ_TYPE,
        OBJ_VALUE,
        OBJ_CREATED,
        OBJ_STATUS,
        OBJ_TAGS,
    ]

    function getObjectFields(obj) {
        const allObjFieilds = Object.keys(obj);
        return allObjFieilds.filter(field => !SPECIAL_OBJ_FIELDS.includes(field));
    }


    // $: itemId = item[OBJ_ID];
    $: newItem = !item[OBJ_ID];
    $: empty = newItem && !editMode;
    $: itemStatus = item[OBJ_STATUS];
    $: itemFilled = Boolean(item[OBJ_TYPE] && item[OBJ_VALUE]);
    $: tagsSplitted = item[OBJ_TAGS] ? item[OBJ_TAGS].split(',') : [];
    $: if (item[OBJ_TYPE]) item[OBJ_VALUE] = UI_CARDS_CONFIG[item[OBJ_TYPE]][OBJ_VALUE](item);

</script>

<!--<div class="card-box" on:click >-->
{#if empty}
    <div class="obj-card-add" on:click={addNewItem}>
        <Fa icon={faPlus} color="#afaeae" size="3x"/>
    </div>
{:else if !editMode}
    <div class="card-box" class:fixedheight={!cardExpanded} class:autoheight={cardExpanded} on:click={expandCard}>
        <div class="side-icon">
            <img class="type-icon" src={UI_CARDS_CONFIG[item[OBJ_TYPE]][UI_ICON]} alt={item[OBJ_TYPE]}/>
        </div>
        <div class="main-card">
            <div class="card-header">
                <div>
                    <span class="obj-value">{item[OBJ_VALUE]}</span>
                </div>
                <!--            <div>-->
                <!--                <label class="label">{OBJ_TYPE} : </label>-->
                <!--                <span class="obj-type">{item[OBJ_TYPE] || ''}</span>-->
                <!--            </div>-->
                {#if !newItem}
                    <div class="action-icons">
                        {#each Object.keys(ACTIONS_ALL) as actionName(actionName)}
                    <span class="action-icon" on:click|stopPropagation="{() => ACTIONS_ALL[actionName](item)}">
                        {#if actionName !== UI_ACTION_DOWNLOAD
                        || (actionName === UI_ACTION_DOWNLOAD && item[OBJ_TYPE] === OBJ_TYPE_FILE)}
                            <Fa icon={ACTIONS_ICONS[actionName][UI_ICON]} color={ACTIONS_ICONS[actionName][UI_COLOR]}
                                size="1x"/>
                        {/if}
                    </span>
                        {/each}
                    </div>
                {/if}
            </div>

            <!--{#each Object.keys(item) as paramName (paramName)}-->
            <!--    <div>-->
            <!--        <label class="label">{paramName} : </label>-->
            <!--        <span class="param-value">{item[paramName]}</span>-->
            <!--    </div>-->
            <!--{/each}-->

            {#if cardExpanded}
                <div class="card-body">
                    <!--{#if item[OBJ_VALUE]}-->
                    <!--    <label class="label">{OBJ_VALUE} : </label>-->
                    <!--    <span class="preview">{item[OBJ_VALUE]}</span>-->
                    <!--    &lt;!&ndash;    <textarea readonly value={item[OBJ_VALUE]}/>&ndash;&gt;-->
                    <!--{/if}-->

                    {#each getObjectFields(item) as fieldName(fieldName)}
                        <div>
                            {fieldName}: {item[fieldName]}
                        </div>
                    {/each}
                </div>
            {/if}

            <div class="card-footer">
                <div class="tag-wrapper">
                    {#each tagsSplitted as tag (tag)}
                        <div class="tag">{tag}</div>
                    {/each}
                </div>

                <div class="footer_right">
                    <div class="status-icons">
                        {#if !newItem && item[OBJ_STATUS] }
                            <abbr title={item[OBJ_STATUS]}>
                                <div class="fav-icon">
                                    <Fa icon={STATUS_ICONS[itemStatus][UI_ICON]}
                                        color={STATUS_ICONS[itemStatus][UI_COLOR]}/>
                                </div>
                            </abbr>
                        {/if}
                    </div>
                    <div class="date">{formatDate(item[OBJ_CREATED])}</div>
                </div>
            </div>
        </div>
    </div>
{:else }

    <div class="card-box autoheight">
        <div class="edit-body autoheight">
            <label class="label" for="obj-type">{OBJ_TYPE}:</label>
            <!--            <input bind:value={item[OBJ_TYPE]} id="obj-type" class="input" type="text" />-->
            <select id="obj-type" bind:value={item[OBJ_TYPE]} on:change="{()=>''}">
                {#each OBJECT_TYPES_FOR_CREATE as selectedObjType(selectedObjType)}
                    <option value={selectedObjType}>
                        {selectedObjType}
                    </option>
                {/each}
            </select>

            {#if (newItem || item[OBJ_CREATED]) && ![OBJ_TYPE_IP_LIST, OBJ_TYPE_IP_SUBNET].includes(item[OBJ_TYPE]) }
                {#if UI_CARDS_CONFIG[item[OBJ_TYPE]]}
                    {#each UI_CARDS_CONFIG[item[OBJ_TYPE]][PROFILE_SHORT] as paramName }
                        <label class="label">{paramName} : </label>
                        <input bind:value={item[paramName]}/>
                    {/each}
                {/if}
            {/if}


            {#if (newItem || item[OBJ_VALUE]) && [OBJ_TYPE_IP_LIST, OBJ_TYPE_IP_SUBNET].includes(item[OBJ_TYPE]) }
                <label class="label" for="obj-value">Value:</label>
                <textarea
                        id="obj-value"
                        bind:this={textarea}
                        bind:value={item[OBJ_VALUE]}
                        class="input"
                        type="textarea"
                        on:input="{onInput}"/>
            {/if}

            <label class="label" for="obj-tags">{OBJ_TAGS}:</label>
            <input bind:value={item[OBJ_TAGS]} id="obj-tags" class="input" type="text"/>

            {#if !newItem}
                <div class="label">Last Updated:</div>
                <div class="text">{ formatDate(item[OBJ_CREATED]) }</div>
            {/if}
        </div>
        <div class="edit-footer">
            <div class="buttons-wrapper">
                <button
                        class="button save {!itemFilled? 'disabled' : ''}"
                        on:click|stopPropagation="{() => saveEdit(item)}"
                >
                    Save
                </button>
                <button
                        class="button"
                        on:click|stopPropagation={cancelEdit}
                >
                    Cancel
                </button>
            </div>
        </div>

    </div>

{/if}

<style lang="scss">

  .card-box {
    width: 90%;
    //height: 100px;
    //min-height: 100px;
    //margin-right: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    display: flex;
    //flex-direction: column;
    //justify-content: space-between;

    .type-icon {
      display: block;
      width: 50px;
      height: 50px;
    }

    &:hover {
      background-color: #dbdcdd;
    }

    .main-card {
      margin-left: 15px;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      .card-header {
        display: flex;
        justify-content: space-between;

        .obj-type {
          font-weight: bold;
          //margin-bottom: 10px;
        }

        .action-icons {
          display: none;

          .action-icon {
            margin-left: 5px;
          }
        }

      }

      &:hover {
        //background-color: #dbdcdd;

        .action-icons {
          display: block;
          cursor: pointer;
        }

      }


      .preview {
        font-size: 20px;
        //word-break: break-word;
      }

      .tag {
        background-color: #d6d2d2;
        padding: 2px 10px;
        border-radius: 10px;
        font-size: 20px;
        margin-right: 5px;
        //height: 20px;
        //align-self: center;

        &-wrapper {
          display: flex;
          align-items: center;
          //align-items: flex-end;
          //flex-wrap: wrap;
        }
      }

      .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        //align-items: flex-end;
        //alignment: center;

        .footer_right {
          display: flex;

          .date {
            color: #afaeae;
            //font-size: 20px;
            margin-left: 5px;
          }
        }
      }
    }
  }


  .fav-icon {
    cursor: pointer;
  }

  .autoheight {
    min-height: 50px;
  }

  .fixedheight {
    height: 50px;
  }

  .obj-card {
    &-container {
      padding: 2em;
      //margin: 0 auto;
      //width: 100vw;
      box-sizing: border-box;
      //float: left;
      flex-basis: 90%;
      flex-grow: 1;
      //justify-content: space-between;
      //position: relative;
      //display: flex;
    }

    &-add {
      background-color: #d6d4d4;
      display: flex;
      justify-content: center;
      align-items: center;
      //box-shadow: none;
      border: 4px dashed #a29f9f;
      width: 90%;
      color: #a29f9f;
      //margin-right: 15px;
      padding: 15px;
      //border-radius: 10px;

      &:hover {
        background-color: #c5c5c5;
      }
    }
  }

  .edit {
    &-body {
      //width: 700px;
      //padding: 20px 15px 10px;
      display: grid;
      grid-template-columns: 1fr 10fr;
      margin-bottom: 10px;
      //gap: 15px 0;

      .label {
        margin-bottom: 10px;
        //grid-column: 1;
        //line-height: 30px;
      }

      .input {
        //grid-column: 2;
        //height: 30px;
        //border-radius: 5px;
        //border: 1px solid #c3c3c3;
      }

      .text {
        //height: 30px;
        color: #808080;
        //display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
    }

    &-footer {
      padding: 0 15px;
      //display: grid;
      //grid-template-columns: 1fr 1fr;

      .buttons-wrapper {
        text-align: right;
      }

      .button {
        height: 30px;
        padding: 0 10px;
        text-align: center;
        box-sizing: content-box;
        border-radius: 3px;
        border: 1px solid #000;

        &:active {
          background-color: #b9b7b7;
        }

        &.save {
          background-color: #1dbd73;
          color: #fff;

          &:active {
            background-color: #1a8e56;
          }

          &.disabled {
            opacity: 0.5;

            &:active {
              background-color: #1dbd73;
            }
          }
        }
      }
    }
  }

  #obj-content {
    resize: vertical;
    height: fit-content;
    min-height: 30px;
  }


</style>