<script>
    // import logo from '../assets/svelte.svg';
    import Fa from 'svelte-fa/src/fa.svelte'
    import { faEye } from '@fortawesome/free-solid-svg-icons';

    // import ProjectSelector from "./ProjectSelector.svelte";
    // import Search from "./Search.svelte";
    import {createEventDispatcher} from "svelte";

    import {
        UI_EVENT_APPSTATECHANGE,
        UI_FILTER_INCLUDE,
        UI_FILTER_EXCLUDE,
        UI_PARAM_SEARCH,
    } from "../utils/ui_consts.js";

    const dispatch = createEventDispatcher();

    // function bubbleEvent(event) {  //todo fixme
    //     dispatch(UI_EVENT_APPSTATECHANGE, event.detail);
    // }

    function sendResetAppStateEvent() {
        const event = {
            [UI_PARAM_SEARCH]: '',
            [UI_FILTER_INCLUDE]: [],
            [UI_FILTER_EXCLUDE]: [],
        }

        dispatch(UI_EVENT_APPSTATECHANGE, event);
    }

</script>

<header class="global-header">
    <div class="app-name">
<!--        <Fa icon={faSatellite} color="#afaeae" size="1x" />-->
        <div class="icon" on:click={sendResetAppStateEvent}>
            <Fa icon={faEye} size="2x"/>
        </div>

        <!--        <img src={logo} alt="Svelte Logo" class="logo"/>-->
        <div class="title">ISE</div>
    </div>
    <span class="search">
        <slot name="search">
            <!--                <span class="missing">Unknown address</span>-->
        </slot>
    </span>
    <span class="selector">
        <slot name="selector">
            <!--                <span class="missing">Unknown address</span>-->
        </slot>
    </span>

<!--    <span class="search">-->
<!--        <Search on:appstatechange={bubbleEvent}/>-->
<!--    </span>-->
<!--    <span class="selector">-->
<!--        <ProjectSelector/>-->
<!--    </span>-->
</header>

<style lang="scss">
  .global-header {
    background-color: #313131;
    height: 56px;
    width: 100%;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    //justify-content: space-between;

    .app-name {
      display: flex;
      align-items: center;
      height: 100%;

      .logo {
        height: 100%;
        margin-right: 5px;
      }

      .title {
        font-size: 30px;
        font-weight: bold;
      }

    }

    .search {
      height: 100%;
      //padding-right: 5px;
      margin-left: auto;
      margin-right: 0;

      //font-weight: bold;
      justify-self: right;
    }

    .selector {
      height: 100%;
      //padding-right: 5px;
      //margin-left: auto;
      margin-left: 100px;
      margin-right: 0;

      font-weight: bold;
      justify-self: end;
    }

  }
</style>