<script>
    import {createEventDispatcher} from "svelte";

    import ParamValuesFilter from "./ParamValuesFilter.svelte";

    import {PARAM_NAME, PARAM_VALUE} from "../utils/consts.js";

    import {UI_EVENT_FILTERSCHANGE} from "../utils/ui_consts.js";

    export let paramsNameValues = [];

    export let filterInclude = [];
    export let filterExclude = [];

    const dispatch = createEventDispatcher();

    function bubbleEvent(event) {  //todo fixme
        dispatch(UI_EVENT_FILTERSCHANGE, event.detail);
    }

</script>

<div class="filters-list-wrapper">
{#each paramsNameValues as paramNameValue (paramNameValue)}
    <!--{@debug paramNameValue}-->
    <ParamValuesFilter
            paramName={paramNameValue[PARAM_NAME]}
            paramValues={paramNameValue[PARAM_VALUE]}
            filterInclude={filterInclude}
            filterExclude={filterExclude}
            on:filterschange={bubbleEvent}
    />
{/each}
</div>

<style lang="scss">
  .filters-list-wrapper {
    background-color: #d6d2d2;
    margin-left: 10px;
    //font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //flex-wrap: wrap;
  }

</style>