<script>
    import {createEventDispatcher} from "svelte";

    import Fa from 'svelte-fa/src/fa.svelte'
    import {faPlus, faMinus } from '@fortawesome/free-solid-svg-icons';


    import {
        UI_FILTER_SELECTED,
        UI_FILTER_TYPE,
        UI_FILTER_UNSELECTED,
        UI_FILTER_VALUE,
        UI_EVENT_FILTERSCHANGE
    } from "../utils/ui_consts.js";
    import {UI_FILTER_EXCLUDE, UI_FILTER_INCLUDE, UI_FILTER_STATE} from "../utils/ui_consts";

    export let paramName;
    export let paramValues = [];

    export let filterInclude = [];
    export let filterExclude = [];

    let includedForParam = [];
    let excludedForParam = [];
    $: includedForParam = filterInclude? filterInclude.filter(entry => entry[paramName]).map(entry => entry[paramName]) : [];
    $: excludedForParam = filterExclude? filterExclude.filter(entry => entry[paramName]).map(entry => entry[paramName]) : [];

    const dispatch = createEventDispatcher();

    function sendEvent(paramName, paramValue, include) {
        const alreadySelected = include
            ? includedForParam.includes(paramValue)
            : excludedForParam.includes(paramValue);
        console.log(`selected:${alreadySelected} inc: ${JSON.stringify(includedForParam)} exc: ${JSON.stringify(excludedForParam)}`)

        const event = {
           [UI_FILTER_TYPE]: include? UI_FILTER_INCLUDE: UI_FILTER_EXCLUDE,
           [UI_FILTER_STATE]: alreadySelected? UI_FILTER_UNSELECTED: UI_FILTER_SELECTED,
           [UI_FILTER_VALUE]: {[paramName]: paramValue}
        };
        console.log('sending event='+ JSON.stringify(event));
        dispatch(UI_EVENT_FILTERSCHANGE, event);
    }
</script>

<!--{@debug paramName}-->
<!--{@debug paramValues}-->

<div class="param-filter-wrapper">
    <div class="param-name">
        {paramName}
    </div>
    <div class="param-values-wrapper">
        {#each paramValues as paramValue (paramValue)}
            <div class="param-value-container {includedForParam.includes(paramValue)
                                                || excludedForParam.includes(paramValue) ? 'selected': ''}">
                <span class="fav-icon select {includedForParam.includes(paramValue)? 'selected': ''}" on:click={() => sendEvent(paramName, paramValue, true)}>
                    <Fa icon={faPlus}/>
                </span>
                <span class="param-value">{paramValue}</span>
                <span class="fav-icon unselect {excludedForParam.includes(paramValue)? 'selected': ''}" on:click={() => sendEvent(paramName, paramValue, false)}>
                    <Fa icon={faMinus}/>
                </span>
            </div>
        {/each}
    </div>
</div>

<style lang="scss">
  .param-filter-wrapper {
    //font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    //flex-wrap: wrap;
  }

  .param-name {
    font-weight: bold;
  }

  .param-values-wrapper {
    //font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //flex-wrap: wrap;
  }

  .param-value-container {
    padding: 2px 10px;
    //font-size: 20px;
    margin-right: 5px;
    //font-size: 20px;
    display: flex;
    flex-direction: row;
    //justify-content: center;
    //align-items: flex-start;
    //flex-wrap: wrap;

    .param-value {
      //background-color: #d6d2d2;
      //padding: 2px 2px;
      //font-size: 20px;
      margin-left: 5px;
      margin-right: 5px;
      height: 20px;
      cursor: pointer;

    }

    .fav-icon {
      display: none;
      &.selected {
        display: block;
      }

    }

    &.selected {
      background-color: #999797;
      //display: block;
    }

    &:hover {
      background-color: #c5c5c5;

      .fav-icon {
        display: block;
      }
    }

  }


  .fav-icon {
    cursor: pointer;
    height: 20px;
    color: white;

    &.select {
      background: green;
    }
    &.unselect {
      background: red;
    }
  }
</style>