<script>

    import {DEFAULT_PROJECT_ID, OBJ_ID, PROJECT_TAG, PROJECT_NAME} from '../utils/consts';

    export let selectedProject;
    export let projects = [];


    function handleSelectProject() {
        let currentProject = projects[selectedProject];
        alert(`selected project ${currentProject[OBJ_ID]}: ${currentProject[PROJECT_NAME]} (${currentProject[PROJECT_TAG]})`);
    }
</script>

<!--{@debug selectedProject}-->
<span>
    Active Project:
</span>
<select bind:value={selectedProject} on:change="{handleSelectProject}">
    <!--{#each $projectsStore as project}-->
    {#each projects as project}
        <option value={project[OBJ_ID]}>
            { project[PROJECT_NAME] + '(' + project[PROJECT_TAG] + ')' }
        </option>
    {:else}
        <p>loading...</p>
    {/each}
</select>
