<script>
    import Modal from '../components/Modal.svelte'
    import {createEventDispatcher} from 'svelte';

    import {UI_EVENT_ACTION} from "../utils/ui_consts.js";

    import {
        OPTION_DESC,
        OPTION_NAME,
        OPTION_VALUE, SCRIPT_NAME
    } from "../utils/consts.js";

    import {createRunScriptEvent} from "../utils/events.js";
    import {SCRIPT_DESC, SCRIPT_OPTIONS} from "../utils/consts";
    import {isEmptyObject} from "../utils/utils.js";

    // ---------------------------------------------------------
    //  Props
    // ---------------------------------------------------------

    export let item = {};
    export let scripts = [];
    // export let id = undefined;
    // export let title = undefined;

    let selectedScript = {};
    let selectedOptions = {};

    const dispatch = createEventDispatcher();

    function runScript(obj, script, options) {
        console.log(`[RunCommandModal]run script ${JSON.stringify(script)} with options ${JSON.stringify(options)} `);
        const event = createRunScriptEvent(script[SCRIPT_NAME], options, obj);
        dispatch(UI_EVENT_ACTION, event);
    }

    function selectScript(script) {
        if (selectedScript[SCRIPT_NAME] === script[SCRIPT_NAME]) {
            selectedScript = {};
            selectedOptions = {};
        } else {
            selectedScript = script;
        }
        console.log(`select script result options: ${JSON.stringify(selectedOptions)}`);
    }

    function toggleOptions(optionName, value) {
        console.log(`toggle options: ${JSON.stringify(optionName)} = ${value}`);
        if (selectedOptions[optionName]) {
            delete selectedOptions[optionName];
        } else {
            selectedOptions[optionName] = value;
        }
        console.log(`result options: ${JSON.stringify(selectedOptions)}`);
    }

</script>

<Modal on:closeModal="{() => dispatch('close')}">
    <div slot="title" class="title">Run Command</div>
    <div slot="body" class="modal-body">
        {#each scripts as script(script[SCRIPT_NAME])}
            <div class="action-box"
                 class:fixedheight={selectedScript[SCRIPT_NAME] !== script[SCRIPT_NAME]}
                 class:autoheight={selectedScript[SCRIPT_NAME] === script[SCRIPT_NAME]}
                 class:selected={selectedScript[SCRIPT_NAME] === script[SCRIPT_NAME]}
                 on:click={() => selectScript(script)}>
                <span>{script[SCRIPT_NAME]} - {script[SCRIPT_DESC]}</span>
                {#if selectedScript[SCRIPT_NAME] === script[SCRIPT_NAME]}
                    {#each script[SCRIPT_OPTIONS] as scriptOption(scriptOption[OPTION_NAME])}
                        <div>
                            <label>
                                <input type="checkbox"
                                       checked={selectedOptions[OPTION_NAME]}
                                       on:click|stopPropagation={() => toggleOptions(scriptOption[OPTION_NAME], "")
                                       }>
                                {scriptOption[OPTION_NAME]} ( {scriptOption[OPTION_VALUE]} ) {scriptOption[OPTION_DESC]}
                            </label>
                        </div>
                    {/each}
                {/if}
            </div>
        {/each}
    </div>

    <div slot="footer" class="modal-footer">
        <div class="message">
            {#if Object.keys(selectedScript).length === 0 }
                Please, select script for execution
            {/if}
        </div>

        <button class="button run"
                disabled={isEmptyObject(selectedScript)}
                on:click|stopPropagation={() => runScript(item, selectedScript, selectedOptions)}
        >
            Run
        </button>
        <button class="button" on:click|stopPropagation="{() => dispatch('close')}">
            Cancel
        </button>
    </div>

</Modal>

<style lang="scss">
  .modal {
    &-body {
      padding: 30px 15px;
      width: 600px;
    }

    &-footer {
      padding: 0 15px;
      text-align: right;

      .message {

      }

      .button {
        height: 30px;
        padding: 0 10px;
        text-align: center;
        box-sizing: content-box;
        border-radius: 3px;
        border: 1px solid #000;

        &:active {
          background-color: #b9b7b7;
        }

        &.run {
          background-color: #007e02;
          color: #fff;

          &:active {
            background-color: #06c109;
          }
        }

        &:disabled {
          background-color: #828282;

          &:active {
            background-color: #828282;
          }

        }

      }
    }
  }

  .action-box {
    &.selected {
      border: 2px solid #a29f9f;
    }
  }
</style>
