<script>
    import Fa from 'svelte-fa/src/fa.svelte'
    import { faTimes, faSearch } from '@fortawesome/free-solid-svg-icons';

    import {createEventDispatcher} from "svelte";

    import {UI_EVENT_APPSTATECHANGE, UI_PARAM_SEARCH} from "../utils/ui_consts.js";

    const dispatch = createEventDispatcher();

    const DEBOUNCE_TIMEOUT = 750;

    export let searchString = '';

    let timer;

    function clear() {
        searchString = '';

    }

    function debounce(v) {
        clearTimeout(timer);
        timer = setTimeout(() => {
            searchString = v;
        }, DEBOUNCE_TIMEOUT);
    }

    function applySearch() {
        let newEvent = {};
        newEvent[UI_PARAM_SEARCH] = searchString;
        console.log('sending event = ' + JSON.stringify(newEvent));
        dispatch(UI_EVENT_APPSTATECHANGE, newEvent);
    }

</script>

<div class="search">
    <div class="search-icon" on:click={clear}>
        <Fa icon={faSearch} color="#afaeae" size="1x"/>
    </div>
    <input name="search" type="search" maxlength="20" size="22" bind:value="{searchString}" on:keyup={applySearch} />
    {#if searchString !== ''}
        <div class="clear-icon" on:click={clear}>
            <Fa icon={faTimes} color="#afaeae" size="1x"/>
        </div>
    {/if}
</div>

<style lang="scss">
  .search {
    //background-color: black;
    //padding: 15px 0;
    //border-radius: 10px;
    //box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    //padding: 0 15px 10px;
    //border-bottom: 3px solid #e2e2e2;

    input {
        background-color: lightgray;
    }

    .search-icon {
      align-self: center;
      margin-right: 5px;
      //cursor: pointer;
    }


    .clear-icon {
      align-self: center;
      //color: black;
      margin-left: 10px;
      cursor: pointer;
    }
  }
</style>
