<script>
    // import {slide} from 'svelte/transition';

    import Fa from 'svelte-fa/src/fa.svelte';
    import { faChevronCircleRight, faChevronCircleLeft } from '@fortawesome/free-solid-svg-icons';

    let sidebarOpen = false;

    function toggleSidebar() {
        sidebarOpen = !sidebarOpen;
    }

</script>

<div class={sidebarOpen ? 'sidebar-open sidebar-container' : 'sidebar-close sidebar-container'}>
    <div class="sidebar-open-button">
        <button on:click={toggleSidebar}
        >{#if sidebarOpen}
            <Fa icon={faChevronCircleLeft   }/>
        {:else}
            <Fa icon={faChevronCircleRight}/>
        {/if}
        </button>
    </div>

    <div class="sidebar">
        <div class="items">
            <slot name="filters">
<!--                <span class="missing">Unknown address</span>-->
            </slot>
            <!--{#each $items as item}-->
            <!--    <p class="item">-->
            <!--        <span class="item-name">{item.id}</span>: {item.value}-->
            <!--    </p>-->
            <!--{/each}-->
        </div>

<!--        <button on:click={sendEvent}>-->
<!--            Test-->
<!--        </button>-->
    </div>
</div>

<style>
    .sidebar-container {
        background-color: #313131;
        /*position: absolute;*/
        /*position: fixed;*/
        top: 51px; /* header height */
        /*height: calc(100vh - 51px);*/
        /*z-index: 30;*/
        display: flex;
        flex-direction: column;
        /*width: 50px;*/
        flex-basis: 25px;
        /*left: 0;*/
        overflow: hidden;
        /*transition: width 0.3s ease-out;*/
        transition: flex-basis 0.3s ease-out;
        /*flex-grow: 1;*/
    }

    .sidebar-open {
        /*left: 0;*/
        /*width: 200px;*/
        flex-basis: 400px;
    }


    .sidebar-open-button {
        /*position: absolute;*/
        /*right: -56px;*/
        /*right: 5px;*/
        /*top: 0;*/
        /*bottom: 0;*/
        /*margin: auto 0;*/
        align-self: end;
        /*height: 56px;*/
    }
    .sidebar-open-button button {
        /*background-color: white;*/
        /*border: none;*/
        color: white;
        cursor: pointer;
        border-radius: 16px 0 0 16px;
        /*padding: 16px 14px 13px 18px;*/
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .items {
        display: flex;
        flex-direction: column;
        /*height: calc(100vh - 51px);*/
        padding: 1rem;
        /*overflow-y: scroll;*/
    }
    /*.item-name {*/
    /*    color: darkgrey;*/
    /*}*/
    button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
</style>