<script>
  import { onMount } from "svelte";

  import CardListing from './components/CardListing.svelte'
  import Header from './components/Header.svelte'
  import Sidebar from "./components/Sidebar.svelte";
  import ParamsFiltersList from "./components/ParamsFiltersList.svelte";
  import Search from "./components/Search.svelte";

  import {
      UI_FILTER_INCLUDE,
      UI_FILTER_TYPE,
      UI_FILTER_VALUE,
      UI_PARAM_SEARCH,
      UI_FILTER_EXCLUDE,
      UI_FILTER_STATE,
      UI_FILTER_UNSELECTED
  } from './utils/ui_consts.js';

  import { appState } from './stores/app_state_store.js';
  import { dataStore, paramsValuesStore } from "./stores/data_store.js";
  import { filteredObjects } from "./stores/filtered_data_store.js";
  import { scriptsStore } from "./stores/scripts_store.js";

  import { api } from "./api/api.js";
  import { wsApi } from "./api/ws_api.js";

  import {dataService} from "./api/data_service.js";
  import {createScriptsGetEvent} from "./utils/events.js";


  onMount(() => {
      dataService.init(api, wsApi, dataStore, scriptsStore);

      wsApi.subscribe(newMessage => {
          console.log("received = " + JSON.stringify(newMessage));
          dataService.parse(newMessage, dataStore);
      });

      wsApi.send(createScriptsGetEvent());

  })

  async function handleDataChangeEvent(event) {
      const dataChangeEvent = event.detail;
      console.log(`stateChange: ${JSON.stringify(dataChangeEvent)})`);

      dataService.sendEvent(dataChangeEvent);
  }

  async function handleActionEvent(event) {
      const actionEvent = event.detail;

      dataService.sendEvent(actionEvent);
  }

  async function handleAppStateChangeEvent(event) {
      const newStateChange = event.detail;
      console.log(`stateChangeData: ${JSON.stringify(newStateChange)})`);
      appState.setParams(newStateChange); //todo process errors
  }

  async function handleDownloadEvent(event) {
      const fileInfo = event.detail;
      console.log(`APP download file: ${JSON.stringify(fileInfo)})`);
      dataService.downloadFile(fileInfo);
  }

  async function handleFiltersChangeEvent(event) {
      const newFilter = event.detail;
      console.log(`filtersChangeData: ${JSON.stringify(newFilter)})`);
      const filterType = newFilter[UI_FILTER_TYPE];
      const filterState = newFilter[UI_FILTER_STATE];
      if (filterState === UI_FILTER_UNSELECTED) {
          if (filterType === UI_FILTER_INCLUDE) {
              appState.removeParam(UI_FILTER_INCLUDE, newFilter[UI_FILTER_VALUE]);
          }
          if (filterType === UI_FILTER_EXCLUDE) {
              appState.removeParam(UI_FILTER_EXCLUDE, newFilter[UI_FILTER_VALUE]);
          }
      } else {
          if (filterType === UI_FILTER_INCLUDE) {
              appState.addParam(UI_FILTER_INCLUDE, newFilter[UI_FILTER_VALUE]);
              appState.removeParam(UI_FILTER_EXCLUDE, newFilter[UI_FILTER_VALUE]);
          } else {
              appState.addParam(UI_FILTER_EXCLUDE, newFilter[UI_FILTER_VALUE]);
              appState.removeParam(UI_FILTER_INCLUDE, newFilter[UI_FILTER_VALUE]);
          }
      }
  }

</script>

<!--{@debug $dataStore}-->
<!--todo fixme-->
<!--{@debug $filteredObjects}-->
<!--{@debug $paramsValuesStore}-->

<main>
    <Header on:appstatechange={handleAppStateChangeEvent}>
        <span slot="search">
            <Search
                    searchString={$appState[UI_PARAM_SEARCH]}
                    on:appstatechange={handleAppStateChangeEvent}
            />
        </span>
        <span slot="selector">
        </span>
    </Header>

    <div class="central-container">
        <Sidebar>
            <div slot="filters">
                <ParamsFiltersList
                        paramsNameValues={$paramsValuesStore}
                        filterInclude={$appState[UI_FILTER_INCLUDE]}
                        filterExclude={$appState[UI_FILTER_EXCLUDE]}
                        on:filterschange={handleFiltersChangeEvent}
                />
            </div>
        </Sidebar>

        <CardListing objects={$filteredObjects}
                     scripts={$scriptsStore}
                 on:action={handleActionEvent}
                 on:datachange={handleDataChangeEvent}
                 on:download={handleDownloadEvent}
        />
    </div>
</main>

<style lang="scss">
    main {
      display: flex;
      flex-direction: column;
      flex: 54px 1;
      width: 100%;
    }

    .central-container {
      //display: inline-flex;
      display: flex;
      justify-content: space-between;
    }
</style>